<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Empleados</li>
        <li>
          <a href="{% url 'empleado_app:all_empleados' %}">Listar</a>
        </li>
        <li><a href="{% url 'departamento_app:listar_departamento' %}">Departamentos</a></li>
        <li><a href="{% url 'empleado_app:admin_empleados' %}">Administrar</a></li>
        <li><a href="{% url 'departamento_app:nuevo_departamento' %}">Nuevo Departamento</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Buscar Empleado"></li>
        <li><a href="{% url 'empleado_app:nuevo_empleado' %}" class="button">Registrar Nuevo</a></li>
      </ul>
    </div>
  </div>